<!DOCTYPE HTML>
<html xmlns:th='http://www.thymeleaf.org'>
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>

    <title>Date Detail</title>
</head>

<body>
<div class='card card-body bg-light'>
    <!-- the question mark after date ensures that it doesn't crash when date is null -->
    <h1><p th:text="${date?.checkDate} + ' ' + ${date?.startDate} + ' : ' + ${date?.endDate}" /></h1>

</div>
&nbsp;&nbsp;<a href='/date'>Check a date</a>

</body>
</html>